body{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
.ui-flex{
    display:-webkit-box;
    display: flex;
    display:-ms-flexbox;
    flex-wrap: wrap;
}

.ui-cell{
    -webkit-box-flex:1;
    flex:1;
    flex-basis: 0;
    display: block;
}

.ui-fixed{
    -webkit-box-flex:0;
    flex:none;
    width:auto;
}